<div class="modal fade" id="passwordChangeModal" tabindex="-1" aria-labelledby="passwordChangeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordChangeModalLabel">Change your password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <% if (locals.error) { %>
                <div class="alert alert-danger">
                    <%= locals.error %>
                </div>
                <% } else if(locals.success){ %>
                    <div class="alert alert-success">
                        <%=locals.success%>
                    </div>
                    <% } %>
                        <form action="/changePassword" method="POST" class="modal-body">

                            <div class="mb-3">
                                <label for="oldPassword" class="form-label">Current password</label>
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                                    required>
                                <small class="form-text text-muted">Required</small>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">New password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                                <small class="form-text text-muted">Required</small>
                            </div>
                            <div class="mb-3">
                                <label for="passwordAgain" class="form-label">Confirm new password</label>
                                <input type="password" class="form-control" id="passwordAgain" name="passwordAgain"
                                    required>
                                <small class="form-text text-muted">Required</small>
                            </div>
                            <div class="row modal-footer">
                                <div class="col-auto text-end">
                                    <button type="submit" class="btn btn-primary">Change password</button>
                                </div>
                                <div class="col-auto text-end">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>

                        <div id="showModal" data-show="<%= locals.showModal %>">
                        </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        const showModal = document.getElementById('showModal').getAttribute('data-show') === 'true';
        if (showModal) {
            var modal = new bootstrap.Modal(document.getElementById('passwordChangeModal'));
            modal.show();
        }
    }
</script>