<header class="site-header sticky-top py-1 bg-light border">
  <nav class="container d-flex justify-content-between bg-light">
    <div class="py-2">
      <a class="py-2 px-3" href="/">Home</a>
      <a class="py-2 px-3" href="/event/own">My events</a>
      <a class="py-2 px-3" href="/event/browse">Browse events</a>
      <a class="py-2 px-3" href="/profile">Profile</a>
    </div>
    <div class="py-2">
      <% if (user){ %>
        <a class="py-2 px-3 text-end" href="/profile">
          <%=user.name%>
        </a>
        <% } else {%>
          <a class="py-2 px-3 text-end" href="/login">
            Sign in
          </a>
          <%}%>
    </div>
  </nav>
</header>