<%- include("partials/head") %>
  <%- include("partials/navbar") %>

    <main class="mx-5">
      <div class="container mt-5">
        <div class="row">
          <h1> Welcome back <%= user.name %>!</h1>
        </div>
        <div class="row mt-4">
          <div class="card col-lg-3 col-sm-8 my-3 container">
            <div class="card-body">
              <h5 class="card-title">My events</h5>
              <p class="card-text">See the events you signed up for, or played in the past.</p>
              <div class="text-center my-4">
                <a href="/event/own" class="btn btn-primary">Let's go!</a>
              </div>
            </div>
          </div>
          <div class="card col-lg-3 col-sm-8 my-3 container">
            <div class="card-body">
              <h5 class="card-title">Browse events</h5>
              <p class="card-text">Browse the available events, and sign up for the ones you like.</p>
              <div class="text-center my-4">
                <a href="/event/browse" class="btn btn-primary">Let's go!</a>
              </div>
            </div>
          </div>
          <div class="card col-lg-3 col-sm-8 my-3 container">
            <div class="card-body">
              <h5 class="card-title">Create event</h5>
              <p class="card-text">Create a new event to host for your friends, or to find new friends.</p>
              <div class="text-center my-4">
                <a href="/event/new" class="btn btn-primary">Let's go!</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <%- include("partials/footer") %>