<%- include("partials/head") %>

<main class="mx-5">
    <div class="container mt-5">
        <div class="row">
            <h1>Login to Your Account</h1>
        </div>
        <% if (locals.error) { %>
            <div class="alert alert-danger">
                <%= locals.error %>
            </div>
        <% } %>
        <div class="row mt-4">
            <div class="col-md-6">
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                        <small class="form-text text-muted">Enter your username</small>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <small class="form-text text-muted">Enter your password</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <p class="mt-4">
                        Don't have an account? <a href="/register" class="link-primary">Register here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</main>
<%- include("partials/footer") %>
