<%- include("partials/head") %>

  <main class="mx-5">
    <div class="container mt-5">
      <div class="row">
        <h1>Register a New User</h1>
      </div>
      <% if (locals.error) { %>
        <div class="alert alert-danger">
          <%= locals.error %>
        </div>
        <% } %>
          <div class="row mt-4">
            <div class="col-md-6">
              <form action="/register" method="post">
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required>
                  <small class="form-text text-muted">Required</small>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                  <small class="form-text text-muted">Required</small>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                  <small class="form-text text-muted">Required</small>
                </div>
                <div class="mb-3">
                  <label for="passwordAgain" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" id="passwordAgain" name="passwordAgain" required>
                  <small class="form-text text-muted">Required</small>
                </div>
                <div class="row">
                  <div class="col-9">
                    <button type="submit" class="btn btn-primary">Register</button>
                  </div>
                  <a href="/login" class="btn btn-link col-3">Login</a>
                </div>
              </form>
            </div>
          </div>
    </div>
  </main>
  <%- include("partials/footer") %>