<%- include("../partials/head") %>
  <%- include("../partials/navbar") %>
    <div class="container mt-5">
      <div class="row">
        <h1> Own events</h1>
      </div>
      <div class="row mt-4">
                                                                        <%# STILL STATIC %>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <%# volleyball %>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
                  <h4><strong>Upcoming</strong></h4>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                <%# single event start %>
                  <div class="accordion-body container">

                    <div class="row">
                      <div class="p-3 border rounded container">

                        <div class="row">
                          <h3 class="col-8">
                            <b>2024-04-21 18:00</b>
                          </h3>

                        </div>

                        <div class="row">
                          <h4 class="col-8">
                            BME sportközpont
                          </h4>
                          <div class="col-4 text-center">
                            <a href="/events/1" class="btn btn-primary">
                              Open
                            </a>
                          </div>
                        </div>

                        <div class="row">
                          <span class="col-8 ms-2">
                            Volleyball
                          </span>
                        </div>


                      </div>
                    </div>
                  </div>
                  <%# single event end %>
                    <%# single event start %>
                      <div class="accordion-body container">
                        <div class="row">
                          <div class="p-3 border rounded container">

                            <div class="row">
                              <h3 class="col-8">
                                <b>2024-04-22 16:00</b>
                              </h3>

                            </div>

                            <div class="row">
                              <h4 class="col-8">
                                BME sportközpont
                              </h4>
                              <div class="col-4 text-center">
                                <a class="btn btn-primary">
                                  Open
                                </a>
                              </div>
                            </div>


                            <div class="row">
                              <span class="col-8 ms-2">
                                Basketball
                              </span>
                            </div>

                          </div>
                        </div>
                      </div>
                      <%# single event end %>
              </div>
            </div>

            <%# archive %>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    <h4><strong>Archive</strong></h4>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <%# archive events %>
                      <%# single event start %>
                        <div class="accordion-body container">

                          <div class="row">
                            <div class="p-3 border rounded container">

                              <div class="row">
                                <h3 class="col-8">
                                  <b>2024-04-21 18:00</b>
                                </h3>

                              </div>

                              <div class="row">
                                <h4 class="col-8">
                                  BME sportközpont
                                </h4>
                                <div class="col-4 text-center">
                                  <button href="#" class="btn btn-primary" disabled>
                                    Open
                                  </button>
                                </div>
                              </div>

                              <div class="row">
                                <span class="col-8 ms-2">
                                  Volleyball
                                </span>
                              </div>


                            </div>
                          </div>
                        </div>
                        <%# single event end %>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>

    </div>
    <%- include("../partials/footer") %>